{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>国家水利局</title>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>


<h1 id="app" v-text="title"></h1>

<ul id="detail">
    <li v-for="(value, key) in details"
        v-text="key+':'+value"></li>
</ul>


<div id="polling" @click="polling_func">
    <h4 style="color: chocolate" v-text="num"></h4>
</div>


<h2 v-text="'token  '+tt"></h2>


<div id="tmp1">
    user
    <b v-text="username"></b>
</div>



<script src="{% static 'js/index/ajax_title.js' %}"></script>
<script src="{% static 'js/index/ajax_body.js' %}"></script>
{#<script src="{% static 'js/index/ajax_polling.js' %}"></script>#}



<script>
    jwt_token = 'es'
</script>

<script>
    new Vue({
        el: 'h2',
        data: {
            tt: jwt_token
        }
    })
</script>

</body>
</html>
